* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ad6fff;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem {
    width: 5%;
    border-radius: 50%;
    padding: 5px 5px;
}
.corpo-conteódo {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
}

.roda-pé {
    background-color: #ad6fff;
    justify-content: center;
    ;
}
.roda-pé-texto {
    margin: 10px 0px 5px 0px;
    color: rgb(255, 255, 255);
}
.final {
    text-align: center;
    color: white;
    line-height: 2.5;
}