* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #02f30e;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem {
    width: 5%;
    border-radius: 50%;
    padding: 5px 5px;
}
.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #000000;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #02f30e;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}