header {
    background-color: #c20b0b;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.head-img {
    width: 5%;
    border-radius: 50%;
    padding: 5px 5px;
}

.homo {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}

* {
    margin: 7;
    padding: 5;
}

.trabaio {
    background-image: linear-gradient, #002ae6, #e70cb0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.tudot {
    width: 35%;
}

.trabalio {
    padding: 24px 0;
}

.equipi {
    background-image: linear-gradient, #000000, #8f0ce7;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.tudo {
    width: 35%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}

.equipi2 {
    padding: 24px 0;
}
.rapazes {
    display: flex
    

}
.teabriz {
    width: 50%;
}
.ibasela {
    width: 40%;
}
.naicoly {
    width: 40%;
}
.geulia {
    width: 50%;
}
footer{
    background-color: #c20b0b;
    padding: 30px 0;
    color: azure;
    text-align: center;
}
.sobre a equipi a{
    text-decoration: none; 
    color: black;
}